#Google
ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",RUN+="/usr/local/bin/dockLauncher.sh %s{idVendor} %s{idProduct}"
#Samsung
ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="04e8",RUN+="/usr/local/bin/dockLauncher.sh %s{idVendor} %s{idProduct}"

